html, body {
  font-family: Helvetica, "Neue Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  background: #1BA39C;
  background: -webkit-linear-gradient(to left, #36D7B7, #1BA39C);
  background: linear-gradient(to left, #36D7B7, #1BA39C);
}

.main {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

h1 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
}

.table thead tr th {
  color: #1BA39C;
  background-color: white;
  border: none;
}

.table tbody tr th {
  font-weight: 400;
}

.table tbody th, .table tbody td {
  vertical-align: middle;
  border-color: white;
}

.table tbody td:first-of-type {
  text-align: center;
}

#tocompress-data, #compressed-data, #uncompressed-data {
  word-break: break-all;
}
